<h1>Todos los Juegos</h1>
<% j = 0 %>
<% @games.each do |game| %>
  <% j = j + 1 %>
  <% if j == 1%>
    <div class="row">
  <% end%>
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="price"><%=game.name%></li>
      <li class="description"><%=game.desc%></li>
      <li class="bullet-item">CAT: <%= link_to game.category.name, category_games_by_category_path(game.category.id)%></li>
      <li class="bullet-item">PX: <%=game.participants%></li>
      <li class="bullet-item">MAT: <%=game.materials%></li>
      <li class="cta-button">
        <%= link_to 'Show', game %>
        <%= link_to 'Edit', edit_game_path(game) %>
        <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
  <% if j == 3 or j >= @games.count%>
    <% j = 0 %>
    </div>
  <% end%>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <%= link_to 'New Game', new_game_path, class: "button radius" %>
  </div>
</div>
