<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @game.desc %>
</p>

<p>
  <strong>Materiales:</strong>
  <%= @game.materials %>
</p>

<p>
  <strong>Participantes:</strong>
  <%= @game.participants %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @game.category.name %>
</p>

<%= link_to 'Ver todos los juegos', games_path , :class => "button radius"%>
